html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

.grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 15% 20% 50% 15%;
    grid-template-columns: (4 auto);
    grid-template-areas:
    'nav nav nav nav'
    'header header header header'
    'sec1 sec2 sec3 sec4'
    'footer footer footer footer';
}

nav {
    grid-area: nav;
    background-color: white;
    display: flex;
    align-items: center;
}

.navul {
    width: 85vw;
    padding: 4rem;
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    color: blue;
}

.footerul {
    list-style: none;
    display: flex;
    margin-right: 5rem;
}

.logo {
    height: 15rem;
}

.secimg {
    height: 25rem;
    border-style: ridge;
    border-radius: 4rem;
    border-color: black;
}

a:link {
    text-decoration: none;
    color: blue;
}
a:visited {
    color: blue;
}

a:hover {
    color: black;
}

header {
    background-color: blue;
    color: white;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
}

.sec1 {
    background-color: cornflowerblue;
    grid-area: sec1;
    display: flex;
    justify-content: center;
    border-style: ridge;
    border-color: black;
    align-items: center;
    background-image: url(./img/Björn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sec2 {
    background-color: aqua;
    grid-area: sec2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: ridge;
    border-color: black;
    background-image: url(./img/depositphotos_102096488-stock-illustration-bv-letters-logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sec3 {
    background-color: cadetblue;
    grid-area: sec3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: ridge;
    border-color: black;
    background-image: url(./img/JavaScript-logo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sec4 {
    background-color: whitesmoke;
    grid-area: sec4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: ridge;
    border-color: black;
    background-image: url(./img/hacker.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    width: 100%;
    background-color: white;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}

.footertext {
    margin-left: 5rem;
}

.insta {
    height: 10vh;
    margin-right: 2rem;
}

.github {
    height: 10vh;
    margin-right: 2rem;
}

.linkedin {
    height: 10vh;
}